@model IEnumerable<StoreFront.DATA.EF.Models.Category>

@{
    ViewData["Title"] = "All Categories";
}

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1 class="">All Categories</h1>
                <nav class="d-flex align-items-center">
                    @* <p><a asp-action="Create">Add New Product</a></p> *@
                    @* <a href="#">Shop<span class="lnr lnr-arrow-right"></span></a>
                    <a href="category.html">Fashon Category</a> *@
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->

<p class="text-center">
    <a asp-action="Create" style="font-size: 1em;" class="genric-btn primary mt-4 mr-2">Create New Category</a>
</p>
<section class="col-md-10 offset-md-1 col-sm-10 offset-sm-1 pb-4 pt-3 mb-4 justify-content-center">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CategoryName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CategoryDescription)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryDescription)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CategoryId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CategoryId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CategoryId">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
</section>